@model YemekSepetiUygulamasi.WebUI.Areas.Admin.Models.CasctingClass
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var il =(List<YemekSepetiUygulamasi.Entity.EntityTable.City>) ViewBag.iller;
    var ilce = TempData["ilceler"];
    var semt = TempData["semtler"];
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div style="float:left; font-weight:bold; font-size:25px;">
                    Firma Bilgileri
                </div>
                <div class="form-group" style="float:right">
                    <div class="col-lg-offset-3 col-lg-10">
                        <a class="btn btn-danger" href="/Admin/Anasayfa/Index" id="kaydet" style="font-weight:bold;">Geri Dön</a>

                    </div>
                </div>
                <br />
            </header>
            @using (Html.BeginForm("Duzenle", "Anasayfa", new { area = "Admin" }, FormMethod.Post))
            {
            <div class="panel-body">
                <div class="form">
                    <hr />

                    <div class="form-group ">
                        <label for="password" class="control-label col-md-2">Firma Adı</label>
                        <div class="col-lg-10">
                          
                            @Html.TextBoxFor(m => m.Companies.CompanyName, new {@type="text",@required="required",@class="form-control" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="fullname" class="control-label col-lg-2">Firma Adres </label>
                        <div class="col-lg-10">
                           
                            @Html.TextBoxFor(m => m.Companies.CompanyAdress, new { @type = "text",@style="margin-top:7px;", @required = "required", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="fullname" class="control-label col-lg-2">Firma Servis Süresi </label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.CompanyServiceTime, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="fullname" class="control-label col-lg-2">Minimum Sipariş  </label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.MinimumPackagePrice, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="fullname" class="control-label col-lg-2" style="margin-bottom:5px;">Servis Ort. Puan </label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.ServicePoint, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control", @readonly="true" })
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="fullname" class="control-label col-lg-2">Hız Ort. Puan </label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.SpeedPoint, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="fullname" class="control-label col-lg-2">Lezzet Ort. Puan </label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.FlavorPoint, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="fullname" class="control-label col-lg-2" style="margin-top:15px;">Açık/Kapalı </label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.OpeningTime, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control"})
                            @Html.TextBoxFor(m => m.Companies.ClosingTime, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="fullname" class="control-label col-lg-2">Ödeme Seçenekleri </label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.PaymentOptionsId, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="address" class="control-label col-lg-2">Promosyon </label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.Promasyon, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="username" class="control-label col-lg-2">Firma Bilgisi</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.FirmaInformation, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="username" class="control-label col-lg-2">Firma Açıklama</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Companies.CompanyDescription, new { @type = "text", @style = "margin-top:7px;", @required = "required", @class = "form-control" })
                        </div>
                    </div>
                    @if (ViewBag.illiste != null)
                    {
                    <div class="form-group " >
                        <label for="password" class="control-label col-lg-2" style="margin-top:10px;">İl</label>
                        <div class="col-lg-10" style="margin-top:10px;">
                            @Html.DropDownListFor(m => m.CityId, ViewBag.illiste as SelectList, "-- Şehir Seçiniz--", new { @class = "form-control",@required="required" })
                         </div>
                    </div>
                    <div class="form-group " >
                        <label for="password" class="control-label col-lg-2" style="margin-top:10px;">İlçe</label>
                        <div class="col-lg-10" style="margin-top:10px;">
                            @Html.DropDownListFor(m => m.CountyId, new SelectList(""), "-- ilçe Seçiniz--", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group " >
                        <label for="password" class="control-label col-lg-2" style="margin-top:10px;">Semt</label>
                        <div class="col-lg-10" style="margin-top:10px;">
                            @Html.DropDownListFor(m => m.NeighborhoodId, new SelectList(""), "-- Semt Seçiniz--", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.Companies.Id, new { @type = "text",@style="display:none;", @required = "required", @class = "form-control" })
                    <div class="form-group ">
                        
                        <button class="btn btn-danger" type="submit" style="margin-top:10px; width:200px; margin-left:250px;" >
                           Kaydet
                        </button>
                        <a href="/Admin/Anasayfa/Index" class="btn btn-primary" style="margin-left:20px; width:200px; margin-top:10px;background-color:">İptal</a>
                    </div>

                    }
                </div>
            </div>}

        </section>
    </div>
</div>
<script src="~/Areas/Admin/Content/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#CityId").change(function () {
            var cityId = $(this).val();

            $.ajax({
                type: 'POST',
                url: "/Admin/Anasayfa/GetCountyList?Id=" + cityId,
                contentType: "html",
                success:function(response)
                {
                    $("#CountyId").empty();
                    $("#CountyId").append(response);


                }
            })
        });
        $("#CountyId").change(function () {
            var cityId = $(this).val();

            $.ajax({
                type: 'POST',
                url: "/Admin/Anasayfa/GetNeighList?Id=" + cityId,
                contentType: "html",
                success: function (response) {
                    $("#NeighborhoodId").empty();
                    $("#NeighborhoodId").append(response);


                }
            })
        });
    });
</script>


