@model IEnumerable<MainSliderSetup>


@if (Model.Count() != 0)
{

    var res = @ViewBag.SecondSliderIsActive;
    var SliderContext = "";


    if (res =="false")
    {
        SliderContext = "carousel-example-generic";
    }
    else
    {
        SliderContext = "carousel-example-generic2";
    }

    <div class="row">
        <div>
            <div class="col-md-12 col-sm-12 col-xs-12 md-margin">
                <div id="@SliderContext" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target=#@SliderContext data-slide-to="0" class="active"></li>
                        <li data-target=#@SliderContext data-slide-to="1"></li>
                    </ol>

                    <div class="carousel-inner" style="height: 469px !important" ;>
                        @{var i = 0;
                            foreach (var slider in Model)
                            {
                                var itemClass = i++ == 0 ? "item active" : "item";
                                <div class="@itemClass">
                                    <img src="~/SliderImage/@slider.MainSliderImage" class="img-responsive" alt="Slider post 2" style="height: 469px !important;">
                                    <div class="container" id="hide_on_Mobile">
                                        <div class="carousel-caption text-left">
                                            <h3 style="color:white">@slider.MainSliderSmallContex</h3>
                                            <h4>@slider.MainSliderLongContex</h4>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <a class="left carousel-control" href="#@SliderContext" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#@SliderContext" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<div class="md-margin2x"></div>


@section Scripts
{

}

